@font-face {
  font-family: 'iconfont';  /* Project id 3614588 */
  src: url('//at.alicdn.com/t/c/font_3614588_f197dilgkwm.woff2?t=1662004314532') format('woff2'),
       url('//at.alicdn.com/t/c/font_3614588_f197dilgkwm.woff?t=1662004314532') format('woff'),
       url('//at.alicdn.com/t/c/font_3614588_f197dilgkwm.ttf?t=1662004314532') format('truetype');
}

  
  .iconfont {
    font-family: "iconfont" !important;
    font-size: 0.16rem;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }